<?xml version="1.0"?>
<configuration>
  <appSettings />
  <connectionStrings />
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="DevExpress.Web.v10.1" />
        <add assembly="DevExpress.Web.ASPxGridView.v10.1" />
      </assemblies>
    </compilation>
    <customErrors mode="Off"/> 
  </system.web>
</configuration>